.profile__button-edit {
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  padding: 0;
  background-image: url(../../../images/button_edit.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  transition: 0.5s;
}

.profile__button-edit:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    background-size: 7.5px 7.5px;
  }
}