.header__logo {
  width: 142px;
  height: 33px;
  background-image: url(../../../images/logo.svg);
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    background-size: cover;
    margin-left: 28px;
  }
    
}