.element__heart {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  padding: 0;
  background-color: #fff;
  background-size: contain;
  border: none;
  margin-top: 5px;
  margin-right: 5px;
  transition: 0.5s;
}

.element__heart:hover {
  cursor: pointer;
  opacity: 0.5;
}