.profile__title {
  max-width: 294px;
  margin: 0;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
  .profile__title {
    max-width: 189px;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    margin: 0 0 0 25px;
  }
}