.profile__information {
  max-width: 486px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 120px 363px;
  
  border: 1px solid red;
}

.profile__information:first-child {
  column-gap: 30px;
}