.popup__button-close {
  position: absolute;
  bottom: 338px;
  left: 438px;
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/Close_Icon.svg);
  background-color: transparent;
  transition: 0.5s; 
}

.popup__button-close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    bottom: 338px;
    right: 0;
    left: unset;
    background-size: contain;
    background-position: center;
  }
}